<div class="login-container">

  <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
 </div>
 
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon class="icon">games</mat-icon>
        Board Hub
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input-bh labelInput="Username" placeholderInput="Enter your username"></input-bh>
      <input-bh labelInput="Password" placeholderInput="Enter your password" type="password"></input-bh>
    </mat-card-content>
  </mat-card>
</div>
